<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Welcome | Home</title>
<link rel="stylesheet" href="design.css" type="text/css">
</head>

<body>
	<div class="main_menu">
		<a href="Home.html"><img src="a.jpg" id="img1" height="50px" width="50px"></a>
		<div class="menu">
				<ul>
					<li class="nav"><a href="Home.html">Home</a></li>
					<li class="nav"><a href="Main.html">Main</a></li>
					<li class="nav"><a href="About.html">About</a></li>
				</ul>
		</div>

		<div class="showcase">
				<h3>Welcome</h3>
				<h1>Delicious Pastries and Cakes</h1>
				<p>Check out our Delicious Pastries and Cakes...</p>
				<button id="b1">See Our Menu</button>
				<h2>Subscribe  to our Website</h2>
				<input type="text" name="subscribe" placeholder="Enter email...">
				<button href="#" id="b6">Subscribe</button>
		</div>
	</div>
	
	
	<footer>
		<p>Sweet Bakery &copy; 2019</p>
	</footer>
	
</body>
</html>
