<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Welcome | Main</title>
<link rel="stylesheet" href="design.css" type="text/css">
</head>

<body>
	<div class="main_menu2">
		<a href="Home.html"><img src="a.jpg" id="img1" height="50px" width="50px"></a>
		<div class="menu">
				<ul>
					<li class="nav"><a href="Home.html">Home</a></li>
					<li class="nav"><a href="Main.html">Main</a></li>
					<li class="nav"><a href="About.html">About</a></li>
				</ul>
		</div>

		<div class="showcase1">
                <div class="login-box">
                        <img src="login.png" class="avatar">
                            <h1>Login Here</h1>
                            <form method="GET">
                                <label>Username</label>
                                <input type="text" name="username" placeholder="Enter Username">
                                <label>Password</label>
                                <input type="password" name="password"  placeholder="Enter Password">
                                <button type="submit" name="b1">Submit</button>
            					<button name="b2">Cancel</button>
                            </form>
                </div>

		</div>
	</div>
	
	
	<footer>
		<p>Sweet Bakery &copy; 2019</p>
	</footer>
	
</body>
</html>